version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    container_name: flask-backend
    ports:
      - "9000:9000"
    env_file:
      - .env
    networks:
      - appnet

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    container_name: node-frontend
    ports:
      - "5000:5000"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
